.navbar-size {
    width: 95%;
    margin: 0 auto;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
.main-body {
    background-color: blue;
    color: black;
    height: calc(300vh - 64px);
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
    align-items: center;
}
.click-me-button {
    background-color: #c5ee6e;
    margin-top: 50px;
}
.activator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}